.meal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.meal > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {
  margin-bottom: 5px;
}

.price {
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}
