.form {
  text-align: center;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #8a2b06;
  border: none;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 1rem;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}

.invalid {
  animation: shake 0.6s ease-in-out;
}

.valid {
  animation: none;
}

@keyframes shake {
  10%,
  90% {
    transform: translateX(-2px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-3px);
  }

  40%,
  60% {
    transform: translateX(3px);
  }
}
